/*------------- ROOT VARIABLES --------*/
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-primary-variant: #111e88;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);

}


/* ========================== DARK THEME VARAIBLES ============== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px; 
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow: hidden;
    color: var(--color-dark);
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 13rem;
}

.highpose {
    width: 500px;
    height: 210px;
    border-color: #2a134e;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(#1f1919, #ffffff);
    text-align: center;
    font-size: 20px;
    top: -6%;
    bottom: 72%;
    right: 31.7%;
}
.highafterpose {
content: '';
position: absolute;
top: -2.8%;
right: 32.9%;
border-radius: 5%;
background-color: #000;
width: 465px;
height: 170px;
text-align: center;
}
.reporttitle {
    font-size: 50px;
    color: rgb(247, 189, 0);
    font-weight: 1000;
}
.reportdate {
    font-size: 20px;
    color: rgb(231, 8, 0);
    font-weight: 600;
}
.balancefrancs{
    position: absolute;
    top: 3.7%;
    bottom: 68%;
    right: 35.1%;
    text-align: right;
    font-size: 50px;
    font-weight: 800;
    color: rgb(87, 69, 10);
    z-index: 3;
}
/* recents-start */
.recents-start {
    margin-top: 13.4rem;
}
.recents-start .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
.recents-start .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.recents-start .insights > div:hover {
    box-shadow: none;
}
.recents-start .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

.recents-start .insights > div.expenses span {
    background: var(--color-danger);
}

.recents-start .insights > div.income span{
    background: var(--color-success);
}

.recents-start .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recents-start .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
.recents-start .insights small {
    margin-top: 1.3rem;
    display: block;
}

/* recents table start*/
.recents-start .recent-order{
    margin-top: 2rem;
}

.recents-start .recent-order h2 {
    margin-bottom: 0.8rem;
}

.recents-start .recent-order table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.recents-start .recent-order table:hover {
    box-shadow: none;
}

.recents-start table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

.recents-start table tbody tr:last-child td {
    border: none;
}

.recents-start .recent-order a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/* recenta table end */

/* =============== MAIN =================== */
main{
    margin-top: 16.4rem;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
}
main .insights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover {
    box-shadow: none;
}
.start-balance {
    color: var(--color-danger);
}
.sales {
    color: var(--color-success);
    cursor: pointer;
}
main .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights > div.expenses span {
    background: var(--color-danger);
}

main .insights > div.income span{
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .insights small {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 1.3rem; */
    display: block;
}

/* =============== MAIN =================== */
main.user{
    margin-top: 1.4rem;
    left: 10rem;
}
.start-time {
    color: var(--color-warning);
}
.main.user .now-balance.nowcredits{
    text-align: center;
}
main.user .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main.user .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main.user .insights > div:hover {
    box-shadow: none;
}

main.user .insights > div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main.user .insights > div.expenses span {
    background: var(--color-danger);
}

main.user .insights > div.income span{
    background: var(--color-success);
}

main.user .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main.user .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main.user .insights small {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
.expenses {
    color: var(--color-danger);
    cursor: pointer;
}
.income {
    color: var(--color-warning);
    cursor: pointer;
}
.user-header {
    margin-top: 1.5rem;
    /* color: #b40c0cc2; */
}
.user-name{
    color: var(--color-danger);
}
.user-cashreceived {
    color: var(--color-success);
}
.user-class
.now-balance {
    display: flex;
}
.now-credits{
    margin-left: 13.5rem;
    margin-top: -0.8rem;
    /* text-align: left; */
    /* color: #a3bdcc; */
}
.start-balance {
    display: flex;
}
.start-credits {
    margin-left: 10rem;
    margin-top: 1.2rem;
    text-align: right;
}
.added-balance {
    display: flex;
    /* color: var(--color-success); */
    place-items: center;
    justify-content: center;
}
.add-credits{
    margin-left: 6.2rem;
    margin-top: 1.2rem;
    text-align: left;
}
.last-ubscription {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}
.last-ubscription1 {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
}
.user-time {
    display: flex;
    /* color: var(--color-success); */
}
.user-time-starting {
    margin-left: 2rem;
    margin-top: 1.2rem;
    text-align: left;
}
.user-time-ending {
    margin-left: 2rem;
    margin-top: 1.2rem;
    text-align: left;
}
.user-credits{
    display: flex;
    /* color: var(--color-success); */
    /* place-items: center; */
    /* justify-content: center; */
}
.user-credits-starting {
    margin-left: 1.33rem;
    margin-top: 1.2rem;
    text-align: left;
}
.user-credits-ending {
    margin-left: 2.65rem;
    margin-top: 1.2rem;
    text-align: left;
}
small {
    color: white;
}
/* start new abonnement records */
.recents {
    /* margin-left: 2.5rem; */
    margin-top: 1.5rem;
}
.daily {
    /* margin-left: 4.5rem; */
    margin-top: 1.5rem;
}
.daily1 {
    /* margin-left: 3.5rem; */
    margin-top: 1.5rem;
    text-align: right;
    color: gray;
}
.users {
    margin-left: 4rem;
    margin-top: 1.5rem;
}
.full {
    margin-left: 4.3rem;
    margin-top: 1.5rem;
}
.early-sub {
    margin-top: 1.5rem;
    color: var(--color-primary);
}
.deposit{
    margin-left: 5rem;
    margin-top: 1.5rem;
}

.histroy-button{
    display: flex;
  }
  .hist-button {
    position: absolute;
    top: -40px;
    right: -25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 800;
    /* box-shadow: #0ef; */
    color: #ffffff;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    transform: rotate(-40deg);
  }
  .hist-button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: all 300ms ease;
  }

  .new-user-id-form1 {
    justify-content: center;
    background: var(--color-light);
    border-radius: 10px;
    padding: 30px;
    min-width: 500px;
    max-width: 500px;
    position: absolute;
    display: block;
    left: 29.2%;
    top: 24.5%;
    z-index: -1;
    opacity: 0;
}
.final-user-name1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-success);
}
.final-user-name3 {
    text-align: center;
    padding-top: 1.9rem;
    padding-left: .5rem;
    color: var(--color-danger);
    cursor: pointer;
}
/* .final-user-name3:hover {
    color: var(--color-success);
} */
.show-id1 {
    display: flex;
    justify-content: center;
}

.number-written{
    margin-top: 1.3rem;
    font-size: 20px;
    margin-right: .5rem;
    color: #e1fa05;
    /* color: #7380ec; */
    cursor: pointer;
}
input {
    font-family: "Lato", sans-serif;
    background: var(--color-white);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    /* padding-left: 10px; */
    position: relative;
    left: 20px;
    font-size: 25px;
    /* font-weight: 500; */
    color: #fcfcfc;
    text-align: center;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.user-phone-input1 {
    margin-top: 1rem;
    justify-content: center;
    border-radius: 5px;
    left: 0px;
}

.button-now {
    display: flex;
}
#btn {
    font-family: "Lato", sans-serif;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 20px 0px 20px 20px;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;
    color: white;
    background: var(--color-background);
}
#btn:hover {
  background-color: rgba(3, 3, 3, 0.993);
}

/*  */

.keypad {
    position: absolute;
    top:60%;
    left: 40%;
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(4, 60px); 
    grid-gap: 10px;
    background-color: #333;
    padding: 10px; 
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
}
#lastkey {
    width: 130px; 
}
.key {
    font-size: 24px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #000; 
    border: none; 
    cursor: pointer;
}
.key1 {
    font-size: 24px;
    color: white;
    padding: 15px;
    text-align: center;
    background-color: #000; 
    border: none; 
    cursor: pointer;
}  
/* .key:hover {
    background-color: #222; 
}; */
#lastkey:hover {
    background-color: #222;
}
#keyboard:hover{
    background-color: #222;
}
#keyboard1:hover{
    background-color: #222;
}
#lastkey:active {
    background-color: #444;
}
#keyboard:active{
    background-color: #444;
}
#keyboard1:active{
    background-color: #444;
}
#cutomAlert {
    display: none;
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    /* margin: 10px 0; */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}


/* activate new user form start */
.activatenewuserform {
    opacity: 1;
    z-index: 1;
    transition: all 300ms ease;
}
.otherusers {
    opacity: .1;
    z-index: -1;
    transition: all 300ms ease;
}
  /* activate new user form end */
.link-tocall {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 93%;
    background: url(icon.png);
    background-repeat: none;
    background-size: cover;
    color: white;
    cursor: pointer;
}