/*------------- ROOT VARIABLES --------*/
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-info-dark: #7d8da1;
    --color-primary-variant: #111e88;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);

}
::-webkit-scrollbar {
    width: 12px;
}

/* ========================== DARK THEME VARAIBLES ============== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px; 
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 0rem auto 0rem;
}
.highpose {
    width: 500px;
    height: 210px;
    border-color: #2a134e;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(#1f1919, #ffffff);
    text-align: center;
    font-size: 20px;
    top: -6%;
    bottom: 72%;
    right: 31.7%;
}
.highafterpose {
content: '';
position: absolute;
top: -2.8%;
right: 32.9%;
border-radius: 5px;
background-color: #000;
width: 465px;
height: 170px;
text-align: center;
}
.reporttitle {
    font-size: 50px;
    color: rgb(247, 189, 0);
    font-weight: 1000;
}
.reportdate {
    font-size: 20px;
    color: rgb(231, 8, 0);
    font-weight: 600;
}
.balancefrancs{
    position: absolute;
    top: 3.7%;
    bottom: 68%;
    right: 35.1%;
    text-align: right;
    font-size: 50px;
    font-weight: 800;
    color: rgb(87, 69, 10);
    z-index: 3;
}

/* =================== RECENTS ORDERS ========= */
main .recent-order{
    margin-top: 15rem;
    margin-bottom: 1rem;
}

main .recent-order h2 {
    margin-bottom: 0.8rem;
}

main .recent-order table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    padding-bottom: 1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-order table:hover {
    box-shadow: none;
}

main table tbody td{
    height: 1rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
    padding: 1rem;
}

main table tbody tr:last-child td {
    border: none;
}
.histroy-button{
    display: flex;
  }
  .hist-button {
    position: absolute;
    top: -40px;
    right: -25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 800;
    /* box-shadow: #0ef; */
    color: #ffffff;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    transform: rotate(-40deg);
  }
  .hist-button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: all 300ms ease;
  }
  .rec-tkn {
    color: rgb(29, 175, 144);
}
.rec-per {
    color: var(--color-success)
}
.rec-am {
    color: var(--color-primary);
}
.rec-dt {
    color: var(--color-warning);
}
.rec-id {
    color: var(--color-danger);
}
.rec-nam {
    color: #2e85ad;
}
.rec-num {
    color: #b18597;
}
.btn1 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R1.png);
    background-repeat: none;
    background-size: cover;
}
.btn2 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R2.png);
    background-repeat: none;
    background-size: cover;
    background-position: 0px -35px;
}
.btn3 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R3.png);
    background-repeat: none;
    background-size: cover;
}
.btn4 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R4.png);
    background-repeat: none;
    background-size: cover;
}
.btn5 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R5.png);
    background-repeat: none;
    background-size: cover;
}
.btn6 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R6.png);
    background-repeat: none;
    background-size: cover;
}
.btn7 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R7.png);
    background-repeat: none;
    background-size: cover;
}
.btn8 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R8.png);
    background-repeat: none;
    background-size: cover;
}
.btn9 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R9.png);
    background-repeat: none;
    background-size: cover;
}
.btn10 {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    background-image: url(10Team/R10.png);
    background-repeat: none;
    background-size: cover;
}
.link-tocall {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 93%;
    background: url(icon.png);
    background-repeat: none;
    background-size: cover;
    color: white;
    cursor: pointer;
}